<div class="container">
    <div class="p-md-5 mb-4 text-white rounded bg-dark testmarg">
        <div class="col-md-12 px-0">
    
    
            <div class="container testlado">
            <h1 class="display-6 col-md-8">Proyectos</h1>
            
            <div  *ngFor="let unProyecto of proyectos" >
                <div class=" p-4 mb-3 bg-secondary rounded" >
                    <p class=""> {{unProyecto.nombre}}</p>
                    <p> {{unProyecto.fecha}}</p>
                    <p>{{unProyecto.parrafo}}</p>
                    <p>{{unProyecto.url}}</p>
                    <img src="{{unProyecto.url_foto}}" />
              </div>

            </div>
            <div class=" p-4 mb-3 bg-secondary rounded" >
                  <p class=""> Portfolio Web #YoProgramo</p>
                  <p>Noviembre 2021 - Mayo 2022</p>
                  <p>Se trata del proyecto final del curso <b>Argentina Programa #YoProgramo</b>, un resumen de mis experiencias, estudios cursados, certificaciones, habilidades y proyectos de mi vida. Similar a un CV, se muestra información de cada tema y opciones de contacto. A su vez incluye un apartado de edición para el cual es necesario autenticarse con usuario y contraseña. Utiliza Angular, Java, Springboot, MySQL, Bootstrap, y otros.</p>
                  <p>LINK? FOTOS?</p>
            </div>

            <div class=" p-4 mb-3 bg-secondary rounded" >
                <p class="">Archer vs Knight / Defenders of the Realm</p>
                <p>Julio 2020 - Diciembre 2020</p>
                <p>Se trata del proyecto final del curso <b>Introducción a Unity para videojuegos 2D</b> en el cual desarrolle un juego de plataformas con el motor Unity, donde hay 2 personajes a pantalla dividida, un arquero y un caballero, ambos pueden desplazarse a los lados y saltar, cada uno tiene 4 habilidades diferentes a las del otro personaje, poseen puntos de vida y en el escenario hay objetos interactuables. Entre ambos personajes pueden hacerse daño utilizando las habilidades mencionadas, ganando el que deje sin vida al otro. La idea a futuro es usar esto como minijuego de un juego de plataformas donde estos personajes se enfrenten a enemigos que atacan el reino.</p>
                <p>LINK? FOTOS?</p>
          </div>

          <div class=" p-4 mb-3 bg-secondary rounded" >
            <p class="">Preguntados: Carpintería</p>
            <p>Septiembre 2021 - Septiembre 2021</p>
            <p>Se trata de un simple programa hecho a contrarreloj en Visual Studio utilizando WinForms y C#, que tiene por objetivo aprender jugando, esta personalizado para la materia carpintería del I.P.E.T. 267, me fue solicitada por mi papá para hacer mas interesante la clase y se logró. El programa consiste en 10 preguntas de carpintería con respuestas multiple opción, juntando madera al responder correctamente dependiendo también del tiempo de respuesta. Se puede pedir ayuda a una ardilla que susurra, pero hay que compartirle un poco del premio.</p>
            <p>LINK? FOTOS?</p>
      </div>

            <div class=" p-4 mb-3 bg-secondary rounded" >
                <p class="">Atrapa el Color</p>
                <p>Septiembre 2021 - Actualidad</p>
                <p>Se trata de un juego para celular, desarrollado en Unity, en el cual se muestra un color en pantalla y debajo tenemos 6 colores, tenemos que seleccionar el color que se muestra en los 6 que estan debajo, como copiando al color de muestra. Posee distintos modos de juego en single y multijugador, posee poderes para modificar el puntaje y una tienda para comprarlos, el puntaje más alto en cada modo de juego queda registrado en un ranking de jugadores.</p>
                <p>LINK? FOTOS?</p>
        </div>

        <div class=" p-4 mb-3 bg-secondary rounded" >
            <p class="">Visual Basic 6</p>
            <p>Desde 2012</p>
            <p>Especial mención a mis proyectos de VB6 hechos en mi adolescencia, distintos programitas y jueguitos que me hicieron aprender y interesarme cada vez más en la programación.</p>
            <p>LINK? FOTOS?</p>
        </div>

        <div class=" p-4 mb-3 bg-secondary rounded" >
            <p class="">Página web de juegos: Jueg0z</p>
            <p>Desde 2010</p>
            <p>Se trata de una página web creada con Jimdo, un servicio de hosting web amigable con plantillas, diseño drag & drop y otras facilidades. Yo quería tener una página web e investigue para hacerlo, después la personalice a mi manera y le fui agregando más cosas. Hoy en día es un hermoso recuerdo que sigue en línea con todo, incluído su libro de visitas con comentarios de mis amigos y míos de aquella época cuando éramos niños.</p>
            <p>
                    <a class="btn purpura" href="https://jueg0z.jimdofree.com/" target="_blank" role="button">Visitar Jueg0z</a>
        </div>


                </div>
    
            </div>
            
        
        </div>
      </div>
      
    <!-- </div> -->