<div class="container">
    <div class="p-md-5 mb-4 text-white rounded bg-dark testmarg">
        <div class="col-md-4 px-0 flexbox">
            <h1 class="display-6 col-md-8">Habilidades</h1>
            <div class="col-lg-2">
              <button type="button" class="btn btn-dark" routerLink="/nueva_habilidad" *ngIf="isLogged">
                Nueva Habilidad
              </button>
            </div>

            <div class="wrapper">
              <ul  *ngFor="let unaHabilidad of habilidades" >
                <!-- <button type="button" class="btn btn-dark" routerLink="/edithab/{{unaHabilidad.id}}" ><i class="bi bi-pencil"></i></button> 
                <button type="button" class="btn btn-dark" routerLink="/borrar" (click)="deleteHab(unaHabilidad.id)" ><i class="far fa-trash"></i></button>
              -->
                <div class="p-2"><h5 class="medio">{{unaHabilidad.nombre}} 
              </h5>
                <div class="p-2"><h6 class="medio"><button type="button" class="btn btn-dark" routerLink="/edithab/{{unaHabilidad.id}}" *ngIf="isLogged"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                </svg></button> 
                <button type="button" class="btn btn-dark" routerLink="/borrar" (click)="deleteHab(unaHabilidad.id)" *ngIf="isLogged"><i class="fa fa-trash-alt"></i></button></h6> </div> 
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{unaHabilidad.porcentaje}}"></div></div>
                
            </ul>
              
            </div>

            <!--

                <div>
                  <button type="button" class="btn btn-dark" routerLink="/edithab/{{unaHab.id}}" *ngIf="isLogged">
                    E
                  </button>
                  <button type="button" class="btn btn-dark" routerLink="/borrar" (click)="deleteHab(unaHab.id)" *ngIf="isLogged">
                    B
                  </button> 
                </div>               


            <div class="wrapper">
              <div class="p-2"><h5 class="medio">{{habilidades[0].nombre}}</h5>
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[0].porcentaje}}"></div></div>
                <div class="p-2"><h5 class="medio">{{habilidades[1].nombre}}</h5>
                  <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[0].porcentaje}}"></div></div>
                  <div class="p-2"><h5 class="medio">{{habilidades[2].nombre}}</h5>
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[0].porcentaje}}"></div></div>
                    <div class="p-2"><h5 class="medio">{{habilidades[3].nombre}}</h5>
                      <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[0].porcentaje}}"></div></div>
                      <div class="p-2"><h5 class="medio">{{habilidades[4].nombre}}</h5>
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[0].porcentaje}}"></div></div>
              <h5 class="medio">{{habilidades[0].nombre}}</h5>
              <h5 class="medio">{{habilidades[1].nombre}}</h5>
              <h5 class="medio">{{habilidades[2].nombre}}</h5>
              <h5 class="medio">{{habilidades[3].nombre}}</h5>
              <h5 class="medio">{{habilidades[4].nombre}}</h5>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[0].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[1].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[2].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[3].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[4].porcentaje}}"></div>
              <h5 class="medio">{{habilidades[5].nombre}}</h5>
              <h5 class="medio">{{habilidades[6].nombre}}</h5>
              <h5 class="medio">{{habilidades[7].nombre}}</h5>
              <h5 class="medio">{{habilidades[8].nombre}}</h5>
              <h5 class="medio">{{habilidades[9].nombre}}</h5>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[5].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[6].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[7].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[8].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[9].porcentaje}}"></div>
              <h5 class="medio">{{habilidades[10].nombre}}</h5>
              <h5 class="medio">{{habilidades[11].nombre}}</h5>
              <h5 class="medio">{{habilidades[12].nombre}}</h5>
              <h5 class="medio">{{habilidades[13].nombre}}</h5>
              <h5 class="medio">{{habilidades[14].nombre}}</h5>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[10].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[11].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[12].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[13].porcentaje}}"></div>
              <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="--value:{{habilidades[14].porcentaje}}"></div>
            </div>

            <div class="d-flex flex-row">
                <div class="p-2"><h5 class="medio">HTML</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">CSS</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">JS</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">MySQL</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Java</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>

                
              </div>
              <div class="d-flex flex-row"> BLANDAS 
                <div class="p-2"><h5 class="medio">Creatividad</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Responsabilidad</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Negociación</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Liderazgo</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Comunicación</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                
              </div>

              <div class="d-flex flex-row"> DURAS
                <div class="p-2"><h5 class="medio">Conocimiento técnico</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Comprensión lectora</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Pensamiento analítico</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">Manejo de software</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                <div class="p-2"><h5 class="medio">IT?</h5><div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50"></div></div>
                
              </div>

            -->

        </div>

    </div>
</div>