<div class="container">
    <div class="p-md-5 mb-4 text-white rounded bg-dark testmarg">
        <div class="px-0">
    
    
            <div class="container">
            <h1 class="display-6">Certificaciones</h1>

            <ul *ngFor="let unCertif of certifaciones">
            <div class="col-md-12 p-4 mb-3 bg-secondary rounded ml-2" >
              <div class="">
                <h3 class="">
                  
                {{unCertif.nombre}}
              
                </h3>
                  <h4 class="">
                    <span class="">{{unCertif.nombre_academia}}</span><!---->      
                  </h4>
              </div>
            </div>
            </ul>
            
                        