<div class="container">
    <div class="p-md-5 mb-4 text-white rounded bg-dark testmarg">
        <div class="px-0">
    
    
            <div class="container">
            <h1 class="display-6">Certificaciones</h1>
                  <!----->
                  <div class="">
        
                    <ul class="">
                
            
                        <li class="profile-section-card" >
                              
                          <!-- LOGITO
                              <img class="logito" alt="Gráfico Universidad Tecnológica Nacional" aria-hidden="true" src="https://upload.wikimedia.org/wikipedia/commons/6/67/UTN_logo.jpg">
                          -->
                                
                          <div class="">
                            <h3 class="">
                              
                            First Certificate in English (B2 CEFR Level)
                          
                            </h3>
                              <h4 class="">
                                <span class="">Cambridge Assessment English</span><!---->      
                              </h4>
                          </div>
                        </li>

                        <li class="profile-section-card" >
                              
                                  
                            <div class="">
                              <h3 class="">
                                
                                Introducción a Unity para videojuegos 2D
                            
                              </h3>
                                <h4 class="">
                                  <span class="">Domestika</span><!---->      
                                </h4>
                            </div>
                          </li>

                          <li class="profile-section-card" >
                                  
                            <div class="">
                              <h3 class="">
                                
                                Introducción al Diseño (12 horas)
                            
                              </h3>
                                <h4 class="">
                                  <span class="">Educar</span><!---->      
                                </h4>
                            </div>
                          </li>

                          <li class="profile-section-card" >
                                  
                            <div class="">
                              <h3 class="">
                                
                                Creación de videojuegos: narrativas interactivas (12 horas)
                            
                              </h3>
                                <h4 class="">
                                  <span class="">Educar</span><!---->      
                                </h4>
                            </div>
                          </li>

                          <li class="profile-section-card" >
                                  
                            <div class="">
                              <h3 class="">
                                
                                Introducción al Diseño Victorial (16 horas)
                            
                              </h3>
                                <h4 class="">
                                  <span class="">Educar</span><!---->      
                                </h4>
                            </div>
                          </li>

                          <li class="profile-section-card" >

                            <div class="">
                              <h3 class="">
                                
                                Fotografía básica de objetos y productos (el estudio en casa) (12 horas)
                            
                              </h3>
                                <h4 class="">
                                  <span class="">Educar</span><!---->      
                                </h4>
                            </div>

                          </li>
                          <li class="profile-section-card" >
                                  
                            <div class="">
                              <h3 class="">
                                
                                Introducción a la organización del trabajo: claves para administrar el tiempo (5 horas)
                            
                              </h3>
                                <h4 class="">
                                  <span class="">Educar</span><!---->      
                                </h4>
                            </div>
                          </li>
            
                        