<div class="container" *ngIf="exper">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre_expe">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombre_expe" name="nombre_expe" [(ngModel)]="exper.nombre_expe" required>
                </div>
                <div class="form-group">
                    <label for="actividad">Actividad desempeñada</label>
                    <input type="text" class="form-control" id="actividad" name="actividad" [(ngModel)]="exper.actividad" required>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha desde y fecha hasta</label>
                    <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="exper.fecha" required>
                </div>

                <button class="btn btn-primary">Guardar Cambios
                    </button>
            </form>

        </div>
    </div>
</div>