<div class="container">
    <div class="p-md-5 mb-4 text-white rounded bg-dark testmarg">
        <div class="col-md-6 px-0">
    
    
            <div class="container">
            <h1 class="display-6">Educación</h1>
            <div class="col-lg-2">
              <button type="button" class="btn btn-dark" routerLink="/nueva_educacion" *ngIf="isLogged">
                Nueva Educación
              </button>
              
            </div>

                    <!---->
                
                    <ul *ngFor="let unEduc of educ">
                      <div class="col-md-12 p-4 mb-3 bg-secondary rounded ml-2" >
                        <div class="container">
                          
                          <li class="profile-section-card" >
              
                                <img class="logito" alt="Logo institucion" aria-hidden="true" src={{unEduc.url_foto}}>
                                      
                                <div class="">
                                  <h3 class="">
                                    <!--agregando mas llamadas a DB-->
                                  {{unEduc.nombre_escuela}}
                                
                                  </h3>
                                    <h4 class="">
                                      <span class="">{{unEduc.titulo}}</span><!---->      
                                    </h4>
                                <span class="">
                                  <time>{{unEduc.fecha}}</time>
                                </span>
                                
                                <div>
                                <button type="button" class="btn btn-dark" routerLink="/editedu/{{unEduc.id}}" *ngIf="isLogged">
                                  Editar
                                </button>
                                 <!--
                                <button class="btn btn-dark" (click)="open(content, unEduc.id)" *ngIf="isLogged">Editar</button>
                                -->
                                <button type="button" class="btn btn-dark" routerLink="" (click)="deleteEdu(unEduc.id)" *ngIf="isLogged">
                                  Borrar
                                </button>
                              </div>
                              
                                </div>
                                
                          </li>
                        </div>
                      </div>
                    </ul>      
                  
                    

            </div>

            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Editar Educación</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                  <div class="mb-3">
                    <label for="dateOfBirth">Nombre de la institución</label>
                    <div class="input-group">
                    <input type="text" class="form-control" id="nombre_escuela" name="nombre_escuela" [(ngModel)]="unaEduc.nombre_escuela" required>
                    </div>
                    <label for="dateOfBirth">URL de logo de la institución</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="url_foto" name="url_foto" [(ngModel)]="unaEduc.url_foto" required>
                    </div>
                    <label for="dateOfBirth">Título obtenido</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="unaEduc.titulo" required>
                    </div>
                    <label for="dateOfBirth">Fecha desde y fecha hasta</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="unaEduc.fecha" required>
                    </div>


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
                  </div>
                </form>
              </div>
              
            </ng-template>
            
            
            
            <hr>
            
            <pre>{{ closeResult }}</pre>
    
                      
             <!-- Formato piola sin el for 
             <div class="col-md-12 p-4 mb-3 bg-secondary rounded ml-2" >
              <div class="container">
    
                <ul class="">
            
        
                    <li class="profile-section-card" >
                          
                      <img class="logito" alt="Gráfico Universidad Tecnológica Nacional" aria-hidden="true" src={{educ[0].url_foto}}>
                            
                      <div class="">
                        <h3 class="">
                        {{educ[0].nombre_escuela}}
                      
                        </h3>
                          <h4 class="">
                            <span class="">Ingeniería en Sistemas de la Información</span>    
                          </h4>
                        <div class="">
        
                        <p class="">
        
                      <span class="">
                <time>2020</time> - actualidad     </span>
                  
                        </p> 
                        </div>
                      </div>
                    </li>
        
                    <li class="profile-section-card" >
                          
                        <img class="logito" alt="Gráfico Universidad Tecnológica Nacional" aria-hidden="true" src="../assets/images/LogoEnet.jfif">
                                                                                                                  
                        <div class="">
                          <h3 class="">
                            
                          {{educ[1].nombre_escuela}}
                        
                          </h3>
                            <h4 class="">
                              <span class="">Tecnicatura en equipos e instalaciones electromecánicas.</span>    
                            </h4>
                          <div class="">
          
                          <p class="">
          
                        <span class="">
                  <time>2013</time> - 2019    </span>
                    
                          </p> 
                          </div>
                        </div>
                      </li>
        
                      <li class="profile-section-card" >
                          
                        <img class="logito" alt="Gráfico Universidad Tecnológica Nacional" aria-hidden="true" src="https://nshuertorincon.edu.ar/wp-content/uploads/2020/01/HUERTO-LOGO-SIN-FONDO.png">
                              
                        <div class="">
                          <h3 class="">Instituto Nuestra Señora del Huerto</h3>
                            <h4 class="">
                              <span class="">Educación primaria.</span>   
                            </h4>
                          <div class="">
          
                          <p class="">
          
                        <span class="">
                  <time>2005</time> - 2012</span>
                    
                          </p> 
                          </div>
                        </div>
                      </li>
          
                </ul>
              
              </div>
              
        </div>
      -->

        </div>
    </div>
</div>
    <!-- </div> -->